<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/index.css"/>
    </head>
    <body>
        <div id="wrapper">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>

    
        <h2>Hello, my name is Axminster.</h2>

        <img src="~/images/axminster.jpg" alt="biopic">

        <h3>About me</h3>
        <p>Well, I'm an assassin for hire. I should get that out there
            right away. Mainly, I enjoy hunting men for sport, driving around 
            in my jeep, eating peanuts, and giving monotone orders.

            My dislikes include that pesky MacGuyver and his no good
             grandfather, Harry.
        </p>




        </div>
    </body>
</html>