<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/projects.css"/>
    </head>
    <body>
     <div id="wrapper">

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>

    

        <h2>My projects</h2>


        <h4>Organized manhunting event with friends</h4>

        <img src="~/images/axminster2.jpg" alt="biopic2">

        <p>Every year (sometimes every few weeks), I put together
            a fun little event where my fellow assassin buddies and I 
            hunt down men for sport. We have a good time.
        </p>


        <h4>Chili Cook off</h4>

        <img src="~/images/axminster3.jpg" alt="biopic2">

        <p>Hunting man for sport takes a lot out of me. So my buddies and I 
            need to eat heartily to replace energy lost. That's why I hold a 
            monthly chili cook off where the winner gets crowned "Mr Spicy!"
        </p>


        <h4>Just hanging out!</h4>

        <img src="~/images/axminster4.jpg" alt="biopic2">

        <p>Life is too often go go go and murder murder murder, so it's important
            to take some time to unwind and relax to yourself. I know it is for me.
            That's why I like to just lounge about at least once every two weeks.
        </p>



    </div>

    </body>
</html>