<a href="/">Go home</a>

<h1>Add a new trail</h1>

@model lostWoods.Models.Trail
 
<form asp-controller="Trail" asp-action="Add" method="post">
    <span asp-validation-for="Name"></span>     <!-- First is capital because it needs to match the model key -->  
    <label asp-for="Name">Trail Name: </label>
    <input asp-for="Name"/>
    <br>

    <span asp-validation-for="Description"></span>
    <label asp-for="Description">Description: </label>
    <input asp-for="Description"/>
    <br>

    <span asp-validation-for="Length"></span>
    <label asp-for="Length">Trail Length (km): </label>
    <input asp-for="Length"/>
    <br>

    <span asp-validation-for="Elevation"></span>
    <label asp-for="Elevation">Elevation Change(km): </label>
    <input asp-for="Elevation"/>
    <br>

    <span asp-validation-for="Longitude"></span>
    <label asp-for="Longitude">Longitude: </label>
    <input asp-for="Longitude"/>
    <br>

    <span asp-validation-for="Latitude"></span>
    <label asp-for="Latitude">Latitude: </label>
    <input asp-for="Latitude"/>
    <br>

    <input type="submit" name="submit" value="Create Record">
</form>