@{
    ViewData["Title"] = "Home Page";
}
<h1>Your input encountered the following errors:</h1>

@{
<div>
   @foreach(var error in ViewBag.Errors)
    {
        if(@error.Errors.Count > 0)
        {
            <p>@error.Errors[0].ErrorMessage</p>
        }
    }
</div>
}


