<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Welcome to QuotingDojo</h1>

    @{<h2>@TempData["error"]</h2>}

    <form action="quotepost" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="quote">Quote: </label>
        <textarea name="quote" cols="20" rows="5"></textarea>
        <br>
        <br>
        <input type="submit" name="add" value="Add my quote!">
    </form>
    <form action="quoteget"  method="GET">
        <input type="submit" name="skip" value="Skip to the quotes!">
    </form>

</body>
</html>